<div class="modal fade" id="modal-change-password">
    <div class="modal-dialog">
        <form action="@Url.Action("ChangePassword","UserManage",new { @area = "userdata"})" method="post">
            <input type="hidden" id="id" name="id" />
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td colspan="2">
                                Old Password
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="password" name="old" class="form-control" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                New Password
                            </td>
                            <td>Confirm Password</td>
                        </tr>
                        <tr>
                            <td>

                                <input type="password" id="newp" name="newp" class="form-control" required />
                            </td>
                            <td>

                                <input type="password" onchange="PasswordMatch()" id="confirm" name="confirm" class="form-control" required />
                            </td>
                        </tr>

                    </table>
                    <script>
                        function PasswordMatch() {
                            var newp = $("#newp").val();
                            var confirm = $("#confirm").val();
                            if (newp == confirm) {
                                return true;
                            }
                            alert("Confirm Password not Match!");
                            return false;
                        }
                    </script>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="PasswordMatch()">Save changes</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>