@model DTRS.Models.TaskTitleMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form action="@Url.Action("Create")" method="post">

    @Html.AntiForgeryToken()

    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">

                <div class="col-md-8">
                    <div class="form-group">
                        <label>Enter Task Title Name</label>
                        <input type="text" class="form-control" name="TaskName" id="TaskName" required />

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Current Status</label>
                        <br />
                        <input type="checkbox" name="IsActive" value="true" />

                    </div>
                </div>

            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="@Url.Action("Index")" class="btn btn-info">Back</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>

</form>