@{ 
    Layout = null;
}
<h3>Default Login</h3>
<ul>
    <li>
        <a href="@Url.Action("admin","home")">Admin Login</a>
    </li>
    <li>
        <a href="@Url.Action("recruiter","home")">recruiter Login</a>
    </li>
</ul>